@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model UserModel



<!-- Navbar Start -->
<div class="container-fluid bg-white sticky-top">
    <div class="container">
        <nav class="navbar navbar-expand-lg bg-white navbar-light py-2 py-lg-0">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                <img class="img-fluid" src="/img/logo.png" alt="Logo">
            </a>
            @if (User.Identity.IsAuthenticated)
            {
                if (User.Claims.ElementAtOrDefault(2).Value == "Admin")
                {
                    <button class="btn btn-outline-success" style="margin-left: 200px">Admin panel</button>
                }
            }
            <button type="button" class="navbar-toggler ms-auto me-0" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto">
                    <a class="nav-item nav-link" asp-controller="Home" asp-action="Index">Home</a>
                    <a href="about.html" class="nav-item nav-link">About</a>
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <a class="nav-item nav-link" asp-controller="Auth" asp-action="Login">Login</a>
                    }
                    else
                    {
                        <form asp-controller="Auth" asp-action="Logout" method="post">
                            @Html.AntiForgeryToken()

                            <button type="submit" class="nav-item nav-link btn">Logout</button>
                        </form>
                    }
                    
                    <a href="contact.html" class="nav-item nav-link">Contact</a>
                </div>
                <div class="d-flex m-3 me-0">

                    <a asp-controller="User" asp-action="AccountInfo" class="position-relative me-4 my-auto">
                        <i class="fa fa-shopping-bag fa-2x"></i>
                        <span class="position-absolute bg-secondary rounded-circle d-flex align-items-center justify-content-center text-dark px-1" style="top: -5px; left: 15px; height: 20px; min-width: 20px;">3</span>
                    </a>

                    <form asp-controller="User" asp-action="AccountInfo" method="post">
                        <input type="hidden" value="@if (User.Identity.IsAuthenticated)
                            {
                        @User.Claims.ElementAtOrDefault(0).Value
}" name="id" />
                        <button type="submit" class="my-auto btn">
                            <i class="fas fa-user fa-2x"></i>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <span>@User.Identity.Name</span>
                            }
                        </button>
                    </form>

                </div>
            </div>
        </nav>
    </div>
</div>
<!-- Navbar End -->
<!-- Page Header Start -->
<div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container text-center py-5">
        <h1 class="display-2 text-dark mb-4 animated slideInDown">Registration</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="breadcrumb-item"><a asp-controller="Auth" asp-action="Login">Login</a></li>
                <li class="breadcrumb-item text-dark">Registration</a></li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->


<div class="d-flex justify-content-center login-3 wow fadeInUp" data-wow-delay="0.1s">
    <div class="containerLogin">
        <div class="col-left">
            <div class="login-text">
                <h2><img src="/img/logo.png" alt="Logo"></h2>
                
                <a class="btn" asp-controller="Auth" asp-action="Login">Back to Login</a>
            </div>
        </div>
        <div class="col-right">
            <div class="login-form">
                <h2>Registration</h2>
                <form asp-controller="Auth" asp-action="Registration" method="post">
                    <p>
                        <input type="text" placeholder="Username" asp-for="Name" required>
                         <span asp-validation-for="Name" class="text-danger"></span>
                    </p>
                    <p>
                        <input type="email" placeholder="Email" asp-for="Email" required>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </p>
                    <p>
                        <input type="password" placeholder="Password" asp-for="Password" id="tmppass1" required>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </p>
                    <p>
                        <input type="password" placeholder="Repeat password" id="tmppass2" required>
                    </p>
                    <p>
                        <input class="btn" type="submit" id="tmpregbtn" value="Sing Up" disabled/>
                    </p>
                </form>
                <p id="msg">
                    Passwords do not match
                </p>
            </div>
        </div>
    </div>

</div>

<a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"><i class="bi bi-arrow-up"></i></a>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        var tmppass1 = document.getElementById('tmppass1');
        var tmppass2 = document.getElementById('tmppass2');
        var tmpregbtn = document.getElementById('tmpregbtn');
        var msg = document.getElementById('msg');

        tmppass2.addEventListener('input', function () {
            var pass1Value = tmppass1.value;
            var pass2Value = tmppass2.value;

            if(pass1Value === "" || pass2Value === "") {
                tmppass1.style.border = '';
                tmppass2.style.border = '';
                tmpregbtn.disabled = false;
                msg.style.opacity = 0;
            }
            else {
                if (pass1Value !== pass2Value) {
                    tmppass1.style.border = '2px solid red';
                    tmppass2.style.border = '2px solid red';
                    tmpregbtn.disabled = true;
                    msg.style.opacity = 1;
                } else {
                    tmppass1.style.border = '';
                    tmppass2.style.border = '';
                    tmpregbtn.disabled = false;
                    msg.style.opacity = 0;
                }
            }

            
        });
    });
</script>


