

<!-- Navbar Start -->
<div class="container-fluid bg-white sticky-top">
    <div class="container">
        <nav class="navbar navbar-expand-lg bg-white navbar-light py-2 py-lg-0">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                <img class="img-fluid" src="/img/logo.png" alt="Logo">
            </a>
            @if (User.Identity.IsAuthenticated)
            {
                if (User.Claims.ElementAtOrDefault(2).Value == "Admin")
                {
                    <button class="btn btn-outline-success" style="margin-left: 200px">Admin panel</button>
                }
            }
            <button type="button" class="navbar-toggler ms-auto me-0" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto">
                    <a class="nav-item nav-link" asp-controller="Home" asp-action="Index">Home</a>
                    <a href="about.html" class="nav-item nav-link">About</a>
                    <a class="nav-item nav-link" asp-controller="Auth" asp-action="Login">Login</a>
                    
                    <a href="contact.html" class="nav-item nav-link">Contact</a>
                </div>
                <div class="d-flex m-3 me-0">

                    <a asp-controller="User" asp-action="AccountInfo" class="position-relative me-4 my-auto">
                        <i class="fa fa-shopping-bag fa-2x"></i>
                        <span class="position-absolute bg-secondary rounded-circle d-flex align-items-center justify-content-center text-dark px-1" style="top: -5px; left: 15px; height: 20px; min-width: 20px;">3</span>
                    </a>

                    <form asp-controller="User" asp-action="AccountInfo" method="post">
                        <input type="hidden" value="@if (User.Identity.IsAuthenticated)
                            {@User.Claims.ElementAtOrDefault(0).Value}" name="id" />
                        <button type="submit" class="my-auto btn">
                            <i class="fas fa-user fa-2x"></i>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <span>@User.Identity.Name</span>
                            }
                        </button>
                    </form>

                </div>
            </div>
        </nav>
    </div>
</div>
<!-- Navbar End -->
<!-- Page Header Start -->
<div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container text-center py-5">
        <h1 class="display-2 text-dark mb-4 animated slideInDown">Error</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="breadcrumb-item text-dark">Error 404</a></li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->

    <!-- 404 Start -->
    <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container text-center">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <i class="bi bi-exclamation-triangle display-1 text-primary"></i>
                    <h1 class="display-1">404</h1>
                    <h1 class="mb-4">Page Not Found</h1>
                    <p class="mb-4">We’re sorry, the page you have looked for does not exist in our website! Maybe go to our home page or try to use a search?</p>
                    <a class="btn btn-primary rounded-pill py-3 px-5" asp-controller="Home" asp-action="Index">Go Back To Home</a>
                </div>
            </div>
        </div>
    </div>
    <!-- 404 End -->
  
    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"><i class="bi bi-arrow-up"></i></a>
