@model aspsitekurs2.Models.UserModel

<div class="d-flex flex-wrap justify-content-center " data-wow-delay="0.1s" style="gap: 50px">
    <img class="rounded float-left" id="profileImage" src="/api/images/Users/@Model.Pic" />
    <div class="d-flex flex-column justify-content-center">
        <p id="name">@Model.Name</p>
        <p id="email">@Model.Email</p>

    </div>
</div>