@model aspsitekurs2.Models.UserEditModel

<div class="d-flex flex-column align-items-center" data-wow-delay="0.1s" >
    <form asp-controller="User" asp-action="Update" method="post" enctype="multipart/form-data">
        <input type="hidden" value="@Model.ID" asp-for="ID" />

        <div class="d-flex flex-wrap" style="gap: 50px">

            <div class="d-flex flex-column" >
                <p>
                    <label>@Model.Name</label><br />
                    <input type="text" class="form-control" placeholder="New name" value="" asp-for="Name"></input>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </p>
                <p>
                    <label>@Model.Email</label><br />
                    <input type="email" class="form-control" placeholder="New email" value="" asp-for="Email"></input>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </p>
                <p>
                    <input type="password" class="form-control" placeholder="New Password" asp-for="Password" />
                </p>
                </div>

                <div class="d-flex flex-column">
                    <img class="rounded float-left" id="profileImage" src="/api/images/Users/@Model.Pic" />
                        <label class="file-upload">
                            <input type="file" asp-for="NewPic" />
                            <div class="custom-input">
                                Choose image...
                            </div>
                        </label>

                </div>

            </div>

        <button class="btn btn-outline-primary" type="submit">Save changes</button>
    </form>
    <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
        <div class="h-100 d-flex align-items-center justify-content-center" style="min-height: 300px;">
            <button type="button" class="btn-danger" data-bs-toggle="modal"
                    data-bs-target="#videoModal">
                Delete account.
            </button>
        </div>
    </div>
</div>




<div class="modal modal-video fade" id="videoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content rounded-0">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Are you sure you want to delete your account?</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex justify-content-center">
                <btn class="btn btn-outline-danger">Delete account</btn>
            </div>
        </div>
    </div>
</div>