@model aspsitekurs2.Models.ProductEditModel

<div class="d-flex flex-column align-items-center" data-wow-delay="0.1s">
    <form asp-controller="Product" asp-action="Add" method="post" enctype="multipart/form-data">
        <input type="hidden" value="@Model.ID" asp-for="ID" />

        <div class="d-flex flex-wrap" style="gap: 50px">

            <div class="d-flex flex-column">
                <p>
                    <label>@Model.Name</label><br />
                    <input type="text" class="form-control" placeholder="New name" value="" asp-for="Name"></input>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </p>
                <p>
                    <label>Price</label><br />
                    <input type="number" class="form-control" placeholder="Price" value="" asp-for="Price"></input>
                    <span asp-validation-for="Price" class="text-danger"></span>
                </p>
                <p>
                    <label>Count</label><br />
                    <input type="number" class="form-control" placeholder="New Password" asp-for="Count" ></input>
                    <span asp-validation-for="Count" class="text-danger"></span>
                </p>
            </div>

            <div class="d-flex flex-column">
                <label class="file-upload">
                    <input type="file" asp-for="NewPic" />
                    <div class="custom-input">
                        Choose image...
                    </div>
                </label>

            </div>

        </div>

        <button class="btn btn-outline-primary" type="submit">Create product</button>
    </form>
    
</div>
